.Task {
  background: #fdfdfd;
  border: solid 1px gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  padding: 0.7rem 0.5rem;
  min-height: 55px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}


.Task h4 {
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}

.Task div {
  text-overflow: ellipsis;
  overflow: hidden;
}

.Task__Done {
  text-decoration: line-through;
  color: gray;
}

.Task__Content {
  min-width: 100%;
}

.Task__Content:hover   {
  cursor: pointer;
}

.Task__Controllers {
  display: none;
  gap: 0.5rem;
}

.Task__Selected h4 {
  font-weight: 600;
}

.Task__Content:hover h4  {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .Task__Content {
    min-width: calc(100% - 80px);
    width: calc(100% - 80px);
  }
}
@media screen and (min-width: 800px) {
  .Task:hover .Task__Controllers {
    display: flex;
    cursor: default;
  }

  .Task__Controllers img {
    border: 2px solid rgb(68, 68, 68);
    border-radius: 7px;
  }
}
